gmsh==4.10.1
meshio==4.3.12
pymoo
mkl
numba
numpy
scipy
tqdm
cloudpickle
matplotlib
seaborn
python-pptx
kaleido
plotly
shapely
descartes
imageio-ffmpeg
imageio
bokeh
h5py
more-itertools
sounddevice
soundfile
jupyter
notebook
jupyterlab
jupyter_contrib_nbextensions
nbresuse
